*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
label{
  font-size: 20px;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: aliceblue;
  padding: 32px 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 100, 1);
}
.container > h1{
    margin-bottom: 20px;
}
.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container div{
  display: flex;
  flex-direction: column;
}
.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}
button{
  background-color: lawngreen;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}